*
{
    margin:0;
}

body
{
    background-color:white;
    color:black;
}

h1
{
    color:white;
    text-align:center;
}

/* Logo styling */


#mainimagecontainer
{
    display:flex;
    flex-direction: row;
    justify-content: center;
}


#mainimage
{
    /* display: block; */
    width:200px;
    /* margin-left:auto;
    margin-right:auto;
    align-self: center; */
    
}





#mainimagebg
{

    background-color:#094275;
    align-content: center;
    width: 100%;
    padding-bottom: 10px;
}

@keyframes imagemove
{
    from
    {
        width: 200px;
        top:0px;

    }
    to
    {
        width:250px;
        top:100px;

    }
}
#mainimage:hover
{
    animation: imagemove;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;

}

/* Navigation bar */
#navbar
{
    border:2px solid white;
    position: sticky;
    top:0;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    margin-top:0px;
    padding: 0;
    background-color:#094275;
    text-align: center;
}

#navbar li
{
    border:none;
    color:white;
    display: inline;
    font-size: x-large;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0.5px;
    text-align: center;
    color:white;
}



#navbar li:hover
{
    background-color:white ;
}

#navbar li a
{
    color:white;
}

#navbar li:hover a
{
    color:#094275;
}



.active
{
    background-color: white;
}

.active a
{
    color:#094275 !important;
}

/* Dropdown menu */

.dropdown
{
    position: relative;
    margin: none;
    display: inline-block;
    background-color: #094275;
    color:white;
}

.dropdown-content
{
    display: none;
    /* min-width:95px; */
    position: absolute;
    width:inherit;
    left: 0;
    z-index: 1;
    border:2px solid black;
}

.dropdown-content a
{
    display: block;
    color:white;
    background-color: #094275;
    padding: 5px 26px;;
}

.dropdown-content a:hover
{
    background-color: white;
    color:#094275;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown:hover li
{
    background-color: white;
    color:#094275 !important;
}

/* campus images styling */
.imagetable
{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: auto;
    margin-top:20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    overflow: auto;
    background-color:#094275;
}

.imagetable .imagedivs
{
    margin:5px;
    /* border:5px solid black; */
}

.campusimages
{
    border: 5px solid black;
    margin:20px 20px;
    width:400px;
}

@media screen and (max-width:420px)
{
    .imagetable
    {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        width:260px;
    }
    .campusimages
    {
        width:200px;
    }
    .campusimages:hover
{
    animation:enlargeitsmallscreen;
    animation-delay:400ms ;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

}
}

@keyframes enlargeit
{
    from
    {
        width: 400px;
    }
    to
    {
        width:550px;
    }
}

@keyframes enlargeitsmallscreen
{
    from
    {
        width: 200px;
    }
    to
    {
        width:350px;
    }
}

.campusimages:hover
{
    animation:enlargeit;
    animation-delay:400ms ;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

}
/* Click button */
.click
{
    border:2px solid black;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size:x-large;
    background-color: #094275;
    color: white;
    width:250px;
}

.click:hover
{
    background-color: white;
    color:#094275;
}


/* fees table styling */

.feetable
{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: x-large;
}

.feetable th
{
    border:5px solid black;
}

.feetable td
{
    border:5px solid black;
}

/* admission form  */
#admissionform
{
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 47%;
    border:5px solid black;
    text-align: center;
    font-size: x-large;
    color:black;
}

/*course information*/
.courseinfo
{
    border:5px solid black;
    font-size:x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;;
    margin-left: 10px;
    margin-right: 10px;
    padding:20px;
    color:black;

}

p
{
    font-family:sans-serif;
    color:black;
}
hr
{
    color:black;
}
ol
{
    font-size: larger;
}

a
{
    color: black;
    text-decoration: none;
}


a:hover
{
    color:black;
    text-decoration: dotted;
}

pre
{
    font-family: 'Times New Roman', Times, serif;
}

nav
{
    font-size:x-large;
}



